#header-nav {
    background-color: #999999;
    border-radius: 0;
    border: 0;
  }

#collapsable-nav {
    background-color: whitesmoke;
}

#collapsable-nav a {
    color: black;
    border-bottom: 2px solid black;    
    margin: 0;
}

#collapsable-nav a:hover {
    background: #E7E7E7;
}

.navbar-default .navbar-brand {
    font-family: serif;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-default {
    background-color: #999999;
    border: 1px solid #999999;
}

.container {
    width: 100%;
}

@media (min-width: 768px) {
    #collapsable-nav {
        background-color: #999999;
    }
}

@media (max-width: 767px) {

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-collapse {
    border: none;
}

section {
    background-color: lightgray;
    width: 100%;
}

p {
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 0px;
    font-weight: bold;
    text-align: justify;
}

h3 {
    padding-top: 10px;
}

#back-to-top {
    position: sticky;
    bottom: 0px;
    left: 100%;
    padding-bottom: 2px;
    background-color: transparent;
    color: default;
}

